body{
    font-family: Arial;
    background:#f4f6f8;
    padding:40px;
}

input{
    padding:10px;
    width:260px;
}

button{
    padding:10px 15px;
    background:black;
    color:white;
    border:none;
    margin-left:5px;
}

#output{
    margin-top:25px;
    background:white;
    padding:20px;
    border-radius:6px;
}

.row{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid #eee;
    padding:6px 0;
}

.key{
    font-weight:bold;
}

.val{
    color:#444;
}
